.active{
    background: rgb(195, 250, 83);
    border-color:rgb(195, 250, 83)!important;
}
.navbarSection{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
}
.navbar{
    background-color: #F9F7F3;
}
.btnSection{
    background: #fff;
}
